<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/dj.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/table.js') }}"></script>
    <script src="{{ url_for('static', filename='js/glow.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recommend.js') }}"></script>
    <script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
    <title>MUSE</title>
</head>
<body>
    <h1 id="glow-text">MUSE</h1>

    <div id="visualizer" style="width:50%; height:500px; margin-top: 30px;"></div>

    <div class="recommendation-section">
        <div class="controls">
            <div id="tracksTable_filter" style="width:100%" class="dataTables_filter">
                <!-- This is the built-in search bar of DataTables -->
            </div>
        </div>
        

        <div class="table-section-container">
            <!-- Main table (tracks table) -->
            <div class="table-section">
                <table id="tracksTable" class="display">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Key</th>
                            <th>BPM</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for track in tracks %}
                        <tr data-id="{{ track.ID }}">
                            <td>{{ track.Title }}</td>
                            <td>{{ track.Artist }}</td>
                            <td>{{ track.Key }}</td>
                            <td>{{ track.BPM }}</td>
                            <td>{{ track.Tags }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <!-- Recommendations table -->
            <!-- <div id="recommendations" class="table-section"></div> -->
        </div>
    </div>

    <hr>

    <!-- <div class="requests-section">
        <h2>Song Requests</h2>
        <ul id="song-requests"></ul>
    </div> -->

    <h2>search</h2>
    <form id="data-form">
        <input type="text" id="data" name="data" required>
        <button type="submit">search</button>
    </form>

    <h2>Result:</h2>
    <div id="result"></div>
</body>