* {
    font-family: Arial, Helvetica, sans-serif;
}

.songDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}